@font-face {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/BarlowSemiCondensed-Regular.ttf') format('truetype');
}

@font-face {
font-family: 'Barlow Semi Condensed', sans-serif;
font-weight: 500;
font-style: normal;
src: url('./fonts/BarlowSemiCondensed-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/BarlowSemiCondensed-SemiBold.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/BarlowSemiCondensed-Bold.ttf') format('truetype'); 
}

:root {
--clr-moderate-violet: 263, 55%, 52%;
--clr-violet: 264, 82%, 70%;
--clr-very-dark-grayish-blue: 217, 19%, 35%;
--clr-very-dark-blackish-blue: 219, 29%, 14%;
--clr-white: 0, 0%, 100%;
--clr-light-gray: 0, 0%, 81%;
--clr-light-grayish-blue: 210, 46%, 95%;

--ff-primary: "Barlow Semi Condensed", sans-serif;

--fw-normal: 500;
--fw-bold: 600;

--fs-300: 0.6875rem;
--fs-400: 0.8125rem;
--fs-500: 1.25rem;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: hsl(var(--clr-light-grayish-blue));
  font-family: var(--ff-primary);
  font-weight: var(--fw-normal);
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  inline-size: 100%;
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.bg-violet {
  background-color: hsl(var(--clr-moderate-violet));
}

.bg-darkgrey {
  background-color: hsl(var(--clr-very-dark-grayish-blue));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.bg-dark {
  background-color: hsl(var(--clr-very-dark-blackish-blue));
}

.outline {
  outline: 2px solid #a775f1;
}

.txt-white {
  color: hsl(var(--clr-white));
}

.txt-dark {
  color: hsl(var(--clr-very-dark-grayish-blue));
}

.person1 {
  grid-area: person1;
}
.person2 {
  grid-area: person2;
}
.person3 {
  grid-area: person3;
}
.person4 {
  grid-area: person4;
}
.person5 {
  grid-area: person5;
}

.container {
  display: grid;
  place-content: center;
  min-height: 100vh;
  margin-inline: auto;
}

.testimonial-wrapper {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: 
    "person1"
    "person2"
    "person3"
    "person4"
    "person5";
  gap: 1.5rem;
  /* margin: 70px 24px; */
  margin: 4.375rem 1rem;
}

.testimonial {
  padding: 1.625rem 2rem;
  border-radius: 8px;
  box-shadow: 40px 50px 60px -47px rgba(72, 85, 106, 0.3);
}

.testimonial.cite {
  background-image: url('./images/bg-pattern-quotation.svg');
  background-repeat: no-repeat;
  background-position: top right 18%;
}

.testimonial__heading {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.testimonial__img-container {
  width: 1.75rem;
}

.testimonial__heading img {
  width: 100%;
  border-radius: 50%;
}

.testimonial__author {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial__author h1 {
  margin-block-end: 0.24rem;
  font-size: var(--fs-400);
  font-weight: var(--fw-normal);
}

.testimonial__author h2 {
  opacity: 0.5;
  font-size: var(--fs-300);
  font-weight: var(--fw-normal);
}

.testimonial__intro {
  font-size: var(--fs-500);
  font-weight: var(--fw-normal);
  line-height: 1.2;
}

.testimonial__details {
  color: var(--neu-light-gray);
  opacity: 70%;
  font-size: var(--fs-400);
  font-weight: var(--fw-normal);
  line-height: 1.4;
}

.testimonial p {
  margin-block-start: 18px;
}

footer.attribution {
  display: none;
}


@media screen and (width >= 578px) { /* = min-width: 578px */
  .testimonial-wrapper {
    grid-template-areas: 
      "person1 person1"
      "person2 person5"
      "person3 person5"
      "person4 person4";
      /* grid-auto-rows: 17.625rem 16.625rem; */
      max-width: 768px;
  }
}

@media screen and (width >= 1200px) { /* = min-width: 1200px */
  .testimonial-wrapper {
    grid-template-areas: 
      "person1 person1 person2 person5"
      "person3 person4 person4 person5";
      gap: 1.5rem 1.875rem;
      max-width: 69.375rem;
      grid-auto-rows: 17.625rem 16.625rem;   
  }
}




